# Ignore everything
/*

# But not .gitignore...
!.gitignore

#Config folders without bug
!/.vim
/.vim/view
/.vim/plugged
#!/.config
#/.config/enchant
#/.config/Atom

#Files in home
!.vimrc
!.bashrc
!vimrc_old
!mount_PcEnsimag
!umount_PcEnsimag
