[user]
	name = {{ .fullName }}
  email = {{ .email }}
	signingkey = {{ .gpgSigningKey }}

[core]
	; editor = codium --wait
  editor = nvim
	excludesfile = ~/.gitignore_global
	ignorecase = false
  pager= delta --features side-by-side --dark --syntax-theme 'Visual Studio Dark+' --file-decoration-style=none --hunk-header-style=omit --paging=never

[push]
	default = simple
[pull]
	rebase = true
[rerere]
	enabled = true

#Diff
# NvimDiff2
; [diff]
; 	tool = nvimdiff2
; [difftool]
;   trustExitCode = true
; [difftool "nvimdiff2"]
;   cmd = -d $LOCAL $REMOTE

#Difftastic
[diff]
	tool = difftastic 
[difftool]
  prompt = false
[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"
[pager]
  difftool = true

#Merge
[merge]
	conflictstyle = diff3
[merge]
	tool = nvimdiff4 
# Vanilla merge
[mergetool "nvimdiff4"]
  cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
  trustExitCode = true
# Fugitive merge
; [mergetool "nfugitive"]
  ; cmd = lvim -f -c "Gdiff" "$MERGED"

#Sign commits
[gpg]
	program = /opt/homebrew/bin/gpg
[commit]
	gpgsign = true
[credential]
	helper = osxkeychain

[alias]
  #resign commits starting from sha
  resign = rebase --exec 'git commit --amend --no-edit -n -S' -i
  dft = difftool
  dlog = "!f() { GIT_EXTERNAL_DIFF=difft git log -p --ext-diff; }; f"

#Colors
[color]
	branch = auto
	status = auto
	diff = auto
  interactive = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = green
	changed = yellow
	untracked = blue

[init]
	defaultBranch = main
; [remote "origin"]
; 	fetch = +refs/heads/*:refs/remotes/origin/*
[http]
	postBuffer = 524288000
