<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ASSIGNED_PR_HANDLING_POLICY</key>
	<integer>0</integer>
	<key>ASSIGNED_PR_TEAM_HANDLING_POLICY</key>
	<integer>0</integer>
	<key>ASSIGNED_REVIEW_HANDLING_POLICY</key>
	<integer>3</integer>
	<key>ASSIGNED_REVIEW_TEAM_HANDLING_POLICY</key>
	<integer>3</integer>
	<key>DB_CONFIG_OBJECTS</key>
	<dict>
		<key>{{ .trailerToken }}</key>
		<dict>
			<key>apiPath</key>
			<string>https://api.github.com</string>
			<key>authToken</key>
			<string>TOO</string>
			<key>createdAt</key>
			<date>2021-03-01T16:56:26Z</date>
			<key>graphQLPath</key>
			<string>https://api.github.com/graphql</string>
			<key>label</key>
			<string>GitHub</string>
			<key>lastSyncSucceeded</key>
			<integer>1</integer>
			<key>reportRefreshFailures</key>
			<integer>1</integer>
			<key>repos</key>
			<dict>
				<key>MDEwOlJlcG9zaXRvcnkyMTI4MzYxOTg=</key>
				<dict>
					<key>archived</key>
					<integer>0</integer>
					<key>createdAt</key>
					<date>2019-10-04T14:39:40Z</date>
					<key>displayPolicyForIssues</key>
					<integer>0</integer>
					<key>displayPolicyForPrs</key>
					<integer>0</integer>
					<key>fork</key>
					<integer>0</integer>
					<key>fullName</key>
					<string>williamgoulois/hello-world</string>
					<key>inaccessible</key>
					<integer>0</integer>
					<key>lastScannedIssueEventId</key>
					<integer>0</integer>
					<key>manuallyAdded</key>
					<integer>0</integer>
					<key>nodeId</key>
					<string>MDEwOlJlcG9zaXRvcnkyMTI4MzYxOTg=</string>
					<key>ownerNodeId</key>
					<string>MDQ6VXNlcjM3MjcxOTcw</string>
					<key>postSyncAction</key>
					<integer>0</integer>
					<key>updatedAt</key>
					<date>2019-10-04T14:55:48Z</date>
					<key>webUrl</key>
					<string>https://github.com/williamgoulois/hello-world</string>
				</dict>
				<key>MDEwOlJlcG9zaXRvcnkyMTMxOTY5NzM=</key>
				<dict>
					<key>archived</key>
					<integer>0</integer>
					<key>createdAt</key>
					<date>2019-10-06T15:51:23Z</date>
					<key>displayPolicyForIssues</key>
					<integer>0</integer>
					<key>displayPolicyForPrs</key>
					<integer>0</integer>
					<key>fork</key>
					<integer>0</integer>
					<key>fullName</key>
					<string>williamgoulois/POO</string>
					<key>inaccessible</key>
					<integer>0</integer>
					<key>lastScannedIssueEventId</key>
					<integer>0</integer>
					<key>manuallyAdded</key>
					<integer>0</integer>
					<key>nodeId</key>
					<string>MDEwOlJlcG9zaXRvcnkyMTMxOTY5NzM=</string>
					<key>ownerNodeId</key>
					<string>MDQ6VXNlcjM3MjcxOTcw</string>
					<key>postSyncAction</key>
					<integer>0</integer>
					<key>updatedAt</key>
					<date>2021-02-23T08:42:48Z</date>
					<key>webUrl</key>
					<string>https://github.com/williamgoulois/POO</string>
				</dict>
				<key>MDEwOlJlcG9zaXRvcnkyMTMxOTYxNzI=</key>
				<dict>
					<key>archived</key>
					<integer>0</integer>
					<key>createdAt</key>
					<date>2019-10-06T15:46:26Z</date>
					<key>displayPolicyForIssues</key>
					<integer>0</integer>
					<key>displayPolicyForPrs</key>
					<integer>0</integer>
					<key>fork</key>
					<integer>0</integer>
					<key>fullName</key>
					<string>williamgoulois/PCSEF</string>
					<key>inaccessible</key>
					<integer>0</integer>
					<key>lastScannedIssueEventId</key>
					<integer>0</integer>
					<key>manuallyAdded</key>
					<integer>0</integer>
					<key>nodeId</key>
					<string>MDEwOlJlcG9zaXRvcnkyMTMxOTYxNzI=</string>
					<key>ownerNodeId</key>
					<string>MDQ6VXNlcjM3MjcxOTcw</string>
					<key>postSyncAction</key>
					<integer>0</integer>
					<key>updatedAt</key>
					<date>2021-02-23T08:41:58Z</date>
					<key>webUrl</key>
					<string>https://github.com/williamgoulois/PCSEF</string>
				</dict>
				<key>MDEwOlJlcG9zaXRvcnkyMTMxOTczODI=</key>
				<dict>
					<key>archived</key>
					<integer>0</integer>
					<key>createdAt</key>
					<date>2019-10-06T15:54:02Z</date>
					<key>displayPolicyForIssues</key>
					<integer>0</integer>
					<key>displayPolicyForPrs</key>
					<integer>0</integer>
					<key>fork</key>
					<integer>0</integer>
					<key>fullName</key>
					<string>williamgoulois/SDSR</string>
					<key>inaccessible</key>
					<integer>0</integer>
					<key>lastScannedIssueEventId</key>
					<integer>0</integer>
					<key>manuallyAdded</key>
					<integer>0</integer>
					<key>nodeId</key>
					<string>MDEwOlJlcG9zaXRvcnkyMTMxOTczODI=</string>
					<key>ownerNodeId</key>
					<string>MDQ6VXNlcjM3MjcxOTcw</string>
					<key>postSyncAction</key>
					<integer>0</integer>
					<key>updatedAt</key>
					<date>2021-02-23T08:48:49Z</date>
					<key>webUrl</key>
					<string>https://github.com/williamgoulois/SDSR</string>
				</dict>
				<key>MDEwOlJlcG9zaXRvcnkyMTMyMDA1NjM=</key>
				<dict>
					<key>archived</key>
					<integer>0</integer>
					<key>createdAt</key>
					<date>2019-10-06T16:13:35Z</date>
					<key>displayPolicyForIssues</key>
					<integer>0</integer>
					<key>displayPolicyForPrs</key>
					<integer>0</integer>
					<key>fork</key>
					<integer>0</integer>
					<key>fullName</key>
					<string>williamgoulois/SEPC</string>
					<key>inaccessible</key>
					<integer>0</integer>
					<key>lastScannedIssueEventId</key>
					<integer>0</integer>
					<key>manuallyAdded</key>
					<integer>0</integer>
					<key>nodeId</key>
					<string>MDEwOlJlcG9zaXRvcnkyMTMyMDA1NjM=</string>
					<key>ownerNodeId</key>
					<string>MDQ6VXNlcjM3MjcxOTcw</string>
					<key>postSyncAction</key>
					<integer>0</integer>
					<key>updatedAt</key>
					<date>2021-02-23T08:49:30Z</date>
					<key>webUrl</key>
					<string>https://github.com/williamgoulois/SEPC</string>
				</dict>
				<key>MDEwOlJlcG9zaXRvcnkyMTMyMzM5MDg=</key>
				<dict>
					<key>archived</key>
					<integer>0</integer>
					<key>createdAt</key>
					<date>2019-10-06T19:52:34Z</date>
					<key>displayPolicyForIssues</key>
					<integer>0</integer>
					<key>displayPolicyForPrs</key>
					<integer>0</integer>
					<key>fork</key>
					<integer>0</integer>
					<key>fullName</key>
					<string>williamgoulois/StageUnix</string>
					<key>inaccessible</key>
					<integer>0</integer>
					<key>lastScannedIssueEventId</key>
					<integer>0</integer>
					<key>manuallyAdded</key>
					<integer>0</integer>
					<key>nodeId</key>
					<string>MDEwOlJlcG9zaXRvcnkyMTMyMzM5MDg=</string>
					<key>ownerNodeId</key>
					<string>MDQ6VXNlcjM3MjcxOTcw</string>
					<key>postSyncAction</key>
					<integer>0</integer>
					<key>updatedAt</key>
					<date>2021-02-23T08:50:39Z</date>
					<key>webUrl</key>
					<string>https://github.com/williamgoulois/StageUnix</string>
				</dict>
				<key>MDEwOlJlcG9zaXRvcnkyMTkxODQzODc=</key>
				<dict>
					<key>archived</key>
					<integer>0</integer>
					<key>createdAt</key>
					<date>2019-11-02T16:53:08Z</date>
					<key>displayPolicyForIssues</key>
					<integer>3</integer>
					<key>displayPolicyForPrs</key>
					<integer>3</integer>
					<key>fork</key>
					<integer>0</integer>
					<key>fullName</key>
					<string>williamgoulois/dotfiles</string>
					<key>inaccessible</key>
					<integer>0</integer>
					<key>lastScannedIssueEventId</key>
					<integer>0</integer>
					<key>manuallyAdded</key>
					<integer>0</integer>
					<key>nodeId</key>
					<string>MDEwOlJlcG9zaXRvcnkyMTkxODQzODc=</string>
					<key>ownerNodeId</key>
					<string>MDQ6VXNlcjM3MjcxOTcw</string>
					<key>postSyncAction</key>
					<integer>0</integer>
					<key>updatedAt</key>
					<date>2023-01-14T18:20:17Z</date>
					<key>webUrl</key>
					<string>https://github.com/williamgoulois/dotfiles</string>
				</dict>
				<key>MDEwOlJlcG9zaXRvcnkyMjM0MDc3MTE=</key>
				<dict>
					<key>archived</key>
					<integer>0</integer>
					<key>createdAt</key>
					<date>2019-11-22T13:19:11Z</date>
					<key>displayPolicyForIssues</key>
					<integer>0</integer>
					<key>displayPolicyForPrs</key>
					<integer>0</integer>
					<key>fork</key>
					<integer>0</integer>
					<key>fullName</key>
					<string>williamgoulois/tp-poo</string>
					<key>inaccessible</key>
					<integer>0</integer>
					<key>lastScannedIssueEventId</key>
					<integer>0</integer>
					<key>manuallyAdded</key>
					<integer>0</integer>
					<key>nodeId</key>
					<string>MDEwOlJlcG9zaXRvcnkyMjM0MDc3MTE=</string>
					<key>ownerNodeId</key>
					<string>MDQ6VXNlcjM3MjcxOTcw</string>
					<key>postSyncAction</key>
					<integer>0</integer>
					<key>updatedAt</key>
					<date>2021-02-23T08:52:40Z</date>
					<key>webUrl</key>
					<string>https://github.com/williamgoulois/tp-poo</string>
				</dict>
				<key>MDEwOlJlcG9zaXRvcnkyMjQ3MzgxNTE=</key>
				<dict>
					<key>archived</key>
					<integer>0</integer>
					<key>createdAt</key>
					<date>2019-11-28T22:21:27Z</date>
					<key>displayPolicyForIssues</key>
					<integer>0</integer>
					<key>displayPolicyForPrs</key>
					<integer>0</integer>
					<key>fork</key>
					<integer>0</integer>
					<key>fullName</key>
					<string>williamgoulois/TP_Ensivideo</string>
					<key>inaccessible</key>
					<integer>0</integer>
					<key>lastScannedIssueEventId</key>
					<integer>0</integer>
					<key>manuallyAdded</key>
					<integer>0</integer>
					<key>nodeId</key>
					<string>MDEwOlJlcG9zaXRvcnkyMjQ3MzgxNTE=</string>
					<key>ownerNodeId</key>
					<string>MDQ6VXNlcjM3MjcxOTcw</string>
					<key>postSyncAction</key>
					<integer>0</integer>
					<key>updatedAt</key>
					<date>2021-02-23T08:53:19Z</date>
					<key>webUrl</key>
					<string>https://github.com/williamgoulois/TP_Ensivideo</string>
				</dict>
				<key>MDEwOlJlcG9zaXRvcnkyMzc0MjEyMzg=</key>
				<dict>
					<key>archived</key>
					<integer>0</integer>
					<key>createdAt</key>
					<date>2020-01-31T11:59:20Z</date>
					<key>displayPolicyForIssues</key>
					<integer>0</integer>
					<key>displayPolicyForPrs</key>
					<integer>0</integer>
					<key>fork</key>
					<integer>0</integer>
					<key>fullName</key>
					<string>Zzzannn/Himalaya</string>
					<key>inaccessible</key>
					<integer>0</integer>
					<key>lastScannedIssueEventId</key>
					<integer>0</integer>
					<key>manuallyAdded</key>
					<integer>0</integer>
					<key>nodeId</key>
					<string>MDEwOlJlcG9zaXRvcnkyMzc0MjEyMzg=</string>
					<key>ownerNodeId</key>
					<string>MDQ6VXNlcjYwNTA4ODQ4</string>
					<key>postSyncAction</key>
					<integer>0</integer>
					<key>updatedAt</key>
					<date>2020-03-22T22:24:18Z</date>
					<key>webUrl</key>
					<string>https://github.com/Zzzannn/Himalaya</string>
				</dict>
				<key>MDEwOlJlcG9zaXRvcnkyNzM3NTA1OTQ=</key>
				<dict>
					<key>archived</key>
					<integer>0</integer>
					<key>createdAt</key>
					<date>2020-06-20T17:06:20Z</date>
					<key>displayPolicyForIssues</key>
					<integer>0</integer>
					<key>displayPolicyForPrs</key>
					<integer>0</integer>
					<key>fork</key>
					<integer>0</integer>
					<key>fullName</key>
					<string>williamgoulois/CS50M</string>
					<key>inaccessible</key>
					<integer>0</integer>
					<key>lastScannedIssueEventId</key>
					<integer>0</integer>
					<key>manuallyAdded</key>
					<integer>0</integer>
					<key>nodeId</key>
					<string>MDEwOlJlcG9zaXRvcnkyNzM3NTA1OTQ=</string>
					<key>ownerNodeId</key>
					<string>MDQ6VXNlcjM3MjcxOTcw</string>
					<key>postSyncAction</key>
					<integer>0</integer>
					<key>updatedAt</key>
					<date>2021-02-23T08:53:56Z</date>
					<key>webUrl</key>
					<string>https://github.com/williamgoulois/CS50M</string>
				</dict>
				<key>MDEwOlJlcG9zaXRvcnkzMDY5MTg2NjI=</key>
				<dict>
					<key>archived</key>
					<integer>0</integer>
					<key>createdAt</key>
					<date>2020-10-24T15:56:40Z</date>
					<key>displayPolicyForIssues</key>
					<integer>0</integer>
					<key>displayPolicyForPrs</key>
					<integer>0</integer>
					<key>fork</key>
					<integer>0</integer>
					<key>fullName</key>
					<string>williamgoulois/closestToZero</string>
					<key>inaccessible</key>
					<integer>0</integer>
					<key>lastScannedIssueEventId</key>
					<integer>0</integer>
					<key>manuallyAdded</key>
					<integer>0</integer>
					<key>nodeId</key>
					<string>MDEwOlJlcG9zaXRvcnkzMDY5MTg2NjI=</string>
					<key>ownerNodeId</key>
					<string>MDQ6VXNlcjM3MjcxOTcw</string>
					<key>postSyncAction</key>
					<integer>0</integer>
					<key>updatedAt</key>
					<date>2021-02-23T08:40:03Z</date>
					<key>webUrl</key>
					<string>https://github.com/williamgoulois/closestToZero</string>
				</dict>
				<key>MDEwOlJlcG9zaXRvcnkzMTEzMTY5Mjg=</key>
				<dict>
					<key>archived</key>
					<integer>1</integer>
					<key>createdAt</key>
					<date>2020-11-09T11:28:16Z</date>
					<key>displayPolicyForIssues</key>
					<integer>0</integer>
					<key>displayPolicyForPrs</key>
					<integer>0</integer>
					<key>fork</key>
					<integer>0</integer>
					<key>fullName</key>
					<string>faberNovel/bertrandprestige-privateinterior-frontweb</string>
					<key>inaccessible</key>
					<integer>0</integer>
					<key>lastScannedIssueEventId</key>
					<integer>0</integer>
					<key>manuallyAdded</key>
					<integer>0</integer>
					<key>nodeId</key>
					<string>MDEwOlJlcG9zaXRvcnkzMTEzMTY5Mjg=</string>
					<key>ownerNodeId</key>
					<string>MDEyOk9yZ2FuaXphdGlvbjE3MTA2MQ==</string>
					<key>postSyncAction</key>
					<integer>0</integer>
					<key>updatedAt</key>
					<date>2023-04-21T08:54:06Z</date>
					<key>webUrl</key>
					<string>https://github.com/faberNovel/bertrandprestige-privateinterior-frontweb</string>
				</dict>
				<key>MDEwOlJlcG9zaXRvcnkzMTU2MTU2MDg=</key>
				<dict>
					<key>archived</key>
					<integer>0</integer>
					<key>createdAt</key>
					<date>2020-11-24T11:47:41Z</date>
					<key>displayPolicyForIssues</key>
					<integer>0</integer>
					<key>displayPolicyForPrs</key>
					<integer>0</integer>
					<key>fork</key>
					<integer>0</integer>
					<key>fullName</key>
					<string>williamgoulois/CleanCode</string>
					<key>inaccessible</key>
					<integer>0</integer>
					<key>lastScannedIssueEventId</key>
					<integer>0</integer>
					<key>manuallyAdded</key>
					<integer>0</integer>
					<key>nodeId</key>
					<string>MDEwOlJlcG9zaXRvcnkzMTU2MTU2MDg=</string>
					<key>ownerNodeId</key>
					<string>MDQ6VXNlcjM3MjcxOTcw</string>
					<key>postSyncAction</key>
					<integer>0</integer>
					<key>updatedAt</key>
					<date>2021-02-23T08:52:10Z</date>
					<key>webUrl</key>
					<string>https://github.com/williamgoulois/CleanCode</string>
				</dict>
				<key>MDEwOlJlcG9zaXRvcnkzMjAzOTQ4NTA=</key>
				<dict>
					<key>archived</key>
					<integer>0</integer>
					<key>createdAt</key>
					<date>2020-12-10T21:31:24Z</date>
					<key>displayPolicyForIssues</key>
					<integer>0</integer>
					<key>displayPolicyForPrs</key>
					<integer>0</integer>
					<key>fork</key>
					<integer>0</integer>
					<key>fullName</key>
					<string>williamgoulois/git-lfs-RCE-exploit-CVE-2020-27955-revshell</string>
					<key>inaccessible</key>
					<integer>0</integer>
					<key>lastScannedIssueEventId</key>
					<integer>0</integer>
					<key>manuallyAdded</key>
					<integer>0</integer>
					<key>nodeId</key>
					<string>MDEwOlJlcG9zaXRvcnkzMjAzOTQ4NTA=</string>
					<key>ownerNodeId</key>
					<string>MDQ6VXNlcjM3MjcxOTcw</string>
					<key>postSyncAction</key>
					<integer>0</integer>
					<key>updatedAt</key>
					<date>2024-05-29T10:31:21Z</date>
					<key>webUrl</key>
					<string>https://github.com/williamgoulois/git-lfs-RCE-exploit-CVE-2020-27955-revshell</string>
				</dict>
				<key>MDEwOlJlcG9zaXRvcnkzNDM3MDM5ODA=</key>
				<dict>
					<key>archived</key>
					<integer>0</integer>
					<key>createdAt</key>
					<date>2021-03-02T08:46:12Z</date>
					<key>displayPolicyForIssues</key>
					<integer>0</integer>
					<key>displayPolicyForPrs</key>
					<integer>0</integer>
					<key>fork</key>
					<integer>0</integer>
					<key>fullName</key>
					<string>faberNovel/templater_react</string>
					<key>groupLabel</key>
					<string>T</string>
					<key>inaccessible</key>
					<integer>0</integer>
					<key>lastScannedIssueEventId</key>
					<integer>0</integer>
					<key>manuallyAdded</key>
					<integer>0</integer>
					<key>nodeId</key>
					<string>MDEwOlJlcG9zaXRvcnkzNDM3MDM5ODA=</string>
					<key>ownerNodeId</key>
					<string>MDEyOk9yZ2FuaXphdGlvbjE3MTA2MQ==</string>
					<key>postSyncAction</key>
					<integer>0</integer>
					<key>updatedAt</key>
					<date>2022-10-15T06:03:50Z</date>
					<key>webUrl</key>
					<string>https://github.com/faberNovel/templater_react</string>
				</dict>
				<key>MDEwOlJlcG9zaXRvcnkzNTk4MDk5OTg=</key>
				<dict>
					<key>archived</key>
					<integer>0</integer>
					<key>createdAt</key>
					<date>2021-04-20T12:36:35Z</date>
					<key>displayPolicyForIssues</key>
					<integer>0</integer>
					<key>displayPolicyForPrs</key>
					<integer>0</integer>
					<key>fork</key>
					<integer>0</integer>
					<key>fullName</key>
					<string>faberNovel/mk2-refonte</string>
					<key>groupLabel</key>
					<string>MK2-B</string>
					<key>inaccessible</key>
					<integer>0</integer>
					<key>itemHidingPolicy</key>
					<integer>0</integer>
					<key>lastScannedIssueEventId</key>
					<integer>0</integer>
					<key>manuallyAdded</key>
					<integer>0</integer>
					<key>nodeId</key>
					<string>MDEwOlJlcG9zaXRvcnkzNTk4MDk5OTg=</string>
					<key>ownerNodeId</key>
					<string>MDEyOk9yZ2FuaXphdGlvbjE3MTA2MQ==</string>
					<key>postSyncAction</key>
					<integer>0</integer>
					<key>updatedAt</key>
					<date>2022-01-10T16:08:32Z</date>
					<key>webUrl</key>
					<string>https://github.com/faberNovel/mk2-refonte</string>
				</dict>
				<key>MDEwOlJlcG9zaXRvcnkzNTkzNzE5OTU=</key>
				<dict>
					<key>archived</key>
					<integer>0</integer>
					<key>createdAt</key>
					<date>2021-04-19T07:44:11Z</date>
					<key>displayPolicyForIssues</key>
					<integer>0</integer>
					<key>displayPolicyForPrs</key>
					<integer>0</integer>
					<key>fork</key>
					<integer>0</integer>
					<key>fullName</key>
					<string>williamgoulois/hooks-training</string>
					<key>inaccessible</key>
					<integer>0</integer>
					<key>lastScannedIssueEventId</key>
					<integer>0</integer>
					<key>manuallyAdded</key>
					<integer>0</integer>
					<key>nodeId</key>
					<string>MDEwOlJlcG9zaXRvcnkzNTkzNzE5OTU=</string>
					<key>ownerNodeId</key>
					<string>MDQ6VXNlcjM3MjcxOTcw</string>
					<key>postSyncAction</key>
					<integer>0</integer>
					<key>updatedAt</key>
					<date>2024-05-29T10:32:59Z</date>
					<key>webUrl</key>
					<string>https://github.com/williamgoulois/hooks-training</string>
				</dict>
				<key>MDEwOlJlcG9zaXRvcnkzNjQ4NzIyMDU=</key>
				<dict>
					<key>archived</key>
					<integer>0</integer>
					<key>createdAt</key>
					<date>2021-05-06T10:30:05Z</date>
					<key>displayPolicyForIssues</key>
					<integer>0</integer>
					<key>displayPolicyForPrs</key>
					<integer>0</integer>
					<key>fork</key>
					<integer>0</integer>
					<key>fullName</key>
					<string>williamgoulois/frontend-practice</string>
					<key>inaccessible</key>
					<integer>0</integer>
					<key>lastScannedIssueEventId</key>
					<integer>0</integer>
					<key>manuallyAdded</key>
					<integer>0</integer>
					<key>nodeId</key>
					<string>MDEwOlJlcG9zaXRvcnkzNjQ4NzIyMDU=</string>
					<key>ownerNodeId</key>
					<string>MDQ6VXNlcjM3MjcxOTcw</string>
					<key>postSyncAction</key>
					<integer>0</integer>
					<key>updatedAt</key>
					<date>2024-05-29T10:30:02Z</date>
					<key>webUrl</key>
					<string>https://github.com/williamgoulois/frontend-practice</string>
				</dict>
				<key>MDEwOlJlcG9zaXRvcnkzNzU2ODIzODg=</key>
				<dict>
					<key>archived</key>
					<integer>0</integer>
					<key>createdAt</key>
					<date>2021-06-10T12:02:24Z</date>
					<key>displayPolicyForIssues</key>
					<integer>0</integer>
					<key>displayPolicyForPrs</key>
					<integer>0</integer>
					<key>fork</key>
					<integer>0</integer>
					<key>fullName</key>
					<string>faberNovel/mk2-refonte-web</string>
					<key>groupLabel</key>
					<string>MK2-F</string>
					<key>inaccessible</key>
					<integer>0</integer>
					<key>itemHidingPolicy</key>
					<integer>0</integer>
					<key>lastScannedIssueEventId</key>
					<integer>0</integer>
					<key>manuallyAdded</key>
					<integer>0</integer>
					<key>nodeId</key>
					<string>MDEwOlJlcG9zaXRvcnkzNzU2ODIzODg=</string>
					<key>ownerNodeId</key>
					<string>MDEyOk9yZ2FuaXphdGlvbjE3MTA2MQ==</string>
					<key>postSyncAction</key>
					<integer>0</integer>
					<key>updatedAt</key>
					<date>2022-01-10T17:05:43Z</date>
					<key>webUrl</key>
					<string>https://github.com/faberNovel/mk2-refonte-web</string>
				</dict>
				<key>MDEwOlJlcG9zaXRvcnkzNzY1MjYwODQ=</key>
				<dict>
					<key>archived</key>
					<integer>0</integer>
					<key>createdAt</key>
					<date>2021-06-13T11:36:46Z</date>
					<key>displayPolicyForIssues</key>
					<integer>0</integer>
					<key>displayPolicyForPrs</key>
					<integer>0</integer>
					<key>fork</key>
					<integer>0</integer>
					<key>fullName</key>
					<string>williamgoulois/DemoCS</string>
					<key>inaccessible</key>
					<integer>0</integer>
					<key>lastScannedIssueEventId</key>
					<integer>0</integer>
					<key>manuallyAdded</key>
					<integer>0</integer>
					<key>nodeId</key>
					<string>MDEwOlJlcG9zaXRvcnkzNzY1MjYwODQ=</string>
					<key>ownerNodeId</key>
					<string>MDQ6VXNlcjM3MjcxOTcw</string>
					<key>postSyncAction</key>
					<integer>0</integer>
					<key>updatedAt</key>
					<date>2021-06-15T12:17:12Z</date>
					<key>webUrl</key>
					<string>https://github.com/williamgoulois/DemoCS</string>
				</dict>
				<key>MDEwOlJlcG9zaXRvcnkzNzkzMTk0MzA=</key>
				<dict>
					<key>archived</key>
					<integer>0</integer>
					<key>createdAt</key>
					<date>2021-06-22T15:35:33Z</date>
					<key>displayPolicyForIssues</key>
					<integer>0</integer>
					<key>displayPolicyForPrs</key>
					<integer>0</integer>
					<key>fork</key>
					<integer>0</integer>
					<key>fullName</key>
					<string>faberNovel/faberdemo-react-native</string>
					<key>inaccessible</key>
					<integer>0</integer>
					<key>lastScannedIssueEventId</key>
					<integer>0</integer>
					<key>manuallyAdded</key>
					<integer>0</integer>
					<key>nodeId</key>
					<string>MDEwOlJlcG9zaXRvcnkzNzkzMTk0MzA=</string>
					<key>ownerNodeId</key>
					<string>MDEyOk9yZ2FuaXphdGlvbjE3MTA2MQ==</string>
					<key>postSyncAction</key>
					<integer>0</integer>
					<key>updatedAt</key>
					<date>2021-07-19T08:51:29Z</date>
					<key>webUrl</key>
					<string>https://github.com/faberNovel/faberdemo-react-native</string>
				</dict>
				<key>MDEwOlJlcG9zaXRvcnkzODg5MzQyNDY=</key>
				<dict>
					<key>archived</key>
					<integer>0</integer>
					<key>createdAt</key>
					<date>2021-07-23T21:47:44Z</date>
					<key>displayPolicyForIssues</key>
					<integer>3</integer>
					<key>displayPolicyForPrs</key>
					<integer>3</integer>
					<key>fork</key>
					<integer>0</integer>
					<key>fullName</key>
					<string>williamgoulois/lvim</string>
					<key>inaccessible</key>
					<integer>0</integer>
					<key>lastScannedIssueEventId</key>
					<integer>0</integer>
					<key>manuallyAdded</key>
					<integer>0</integer>
					<key>nodeId</key>
					<string>MDEwOlJlcG9zaXRvcnkzODg5MzQyNDY=</string>
					<key>ownerNodeId</key>
					<string>MDQ6VXNlcjM3MjcxOTcw</string>
					<key>postSyncAction</key>
					<integer>0</integer>
					<key>updatedAt</key>
					<date>2024-01-25T02:47:15Z</date>
					<key>webUrl</key>
					<string>https://github.com/williamgoulois/lvim</string>
				</dict>
				<key>MDEwOlJlcG9zaXRvcnkzODgxODI2ODI=</key>
				<dict>
					<key>archived</key>
					<integer>0</integer>
					<key>createdAt</key>
					<date>2021-07-21T16:38:53Z</date>
					<key>displayPolicyForIssues</key>
					<integer>0</integer>
					<key>displayPolicyForPrs</key>
					<integer>0</integer>
					<key>fork</key>
					<integer>0</integer>
					<key>fullName</key>
					<string>abzcoding/lvim</string>
					<key>groupLabel</key>
					<string>LVIM</string>
					<key>inaccessible</key>
					<integer>0</integer>
					<key>lastScannedIssueEventId</key>
					<integer>0</integer>
					<key>manuallyAdded</key>
					<integer>0</integer>
					<key>nodeId</key>
					<string>MDEwOlJlcG9zaXRvcnkzODgxODI2ODI=</string>
					<key>ownerNodeId</key>
					<string>MDQ6VXNlcjEwOTkyNjk1</string>
					<key>postSyncAction</key>
					<integer>0</integer>
					<key>updatedAt</key>
					<date>2025-05-14T04:33:27Z</date>
					<key>webUrl</key>
					<string>https://github.com/abzcoding/lvim</string>
				</dict>
				<key>R_kgDOGcvxtg</key>
				<dict>
					<key>archived</key>
					<integer>0</integer>
					<key>createdAt</key>
					<date>2021-11-28T18:44:59Z</date>
					<key>displayPolicyForIssues</key>
					<integer>0</integer>
					<key>displayPolicyForPrs</key>
					<integer>0</integer>
					<key>fork</key>
					<integer>0</integer>
					<key>fullName</key>
					<string>williamgoulois/worktrees</string>
					<key>inaccessible</key>
					<integer>0</integer>
					<key>lastScannedIssueEventId</key>
					<integer>0</integer>
					<key>manuallyAdded</key>
					<integer>0</integer>
					<key>nodeId</key>
					<string>R_kgDOGcvxtg</string>
					<key>ownerNodeId</key>
					<string>MDQ6VXNlcjM3MjcxOTcw</string>
					<key>postSyncAction</key>
					<integer>0</integer>
					<key>updatedAt</key>
					<date>2021-11-28T19:20:30Z</date>
					<key>webUrl</key>
					<string>https://github.com/williamgoulois/worktrees</string>
				</dict>
				<key>R_kgDOHv70Bg</key>
				<dict>
					<key>archived</key>
					<integer>0</integer>
					<key>createdAt</key>
					<date>2022-08-01T08:24:12Z</date>
					<key>displayPolicyForIssues</key>
					<integer>0</integer>
					<key>displayPolicyForPrs</key>
					<integer>0</integer>
					<key>fork</key>
					<integer>0</integer>
					<key>fullName</key>
					<string>faberNovel/fabernovel-pes</string>
					<key>groupLabel</key>
					<string>NX</string>
					<key>inaccessible</key>
					<integer>0</integer>
					<key>lastScannedIssueEventId</key>
					<integer>0</integer>
					<key>manuallyAdded</key>
					<integer>0</integer>
					<key>nodeId</key>
					<string>R_kgDOHv70Bg</string>
					<key>ownerNodeId</key>
					<string>MDEyOk9yZ2FuaXphdGlvbjE3MTA2MQ==</string>
					<key>postSyncAction</key>
					<integer>0</integer>
					<key>updatedAt</key>
					<date>2024-08-21T20:05:38Z</date>
					<key>webUrl</key>
					<string>https://github.com/faberNovel/fabernovel-pes</string>
				</dict>
				<key>R_kgDOI1dtdw</key>
				<dict>
					<key>archived</key>
					<integer>0</integer>
					<key>createdAt</key>
					<date>2023-01-24T20:58:35Z</date>
					<key>displayPolicyForIssues</key>
					<integer>3</integer>
					<key>displayPolicyForPrs</key>
					<integer>3</integer>
					<key>fork</key>
					<integer>0</integer>
					<key>fullName</key>
					<string>williamgoulois/williamgoulois</string>
					<key>inaccessible</key>
					<integer>0</integer>
					<key>lastScannedIssueEventId</key>
					<integer>0</integer>
					<key>manuallyAdded</key>
					<integer>0</integer>
					<key>nodeId</key>
					<string>R_kgDOI1dtdw</string>
					<key>ownerNodeId</key>
					<string>MDQ6VXNlcjM3MjcxOTcw</string>
					<key>postSyncAction</key>
					<integer>0</integer>
					<key>updatedAt</key>
					<date>2023-01-24T20:58:38Z</date>
					<key>webUrl</key>
					<string>https://github.com/williamgoulois/williamgoulois</string>
				</dict>
				<key>R_kgDOIMwm2Q</key>
				<dict>
					<key>archived</key>
					<integer>0</integer>
					<key>createdAt</key>
					<date>2022-10-12T12:50:43Z</date>
					<key>displayPolicyForIssues</key>
					<integer>3</integer>
					<key>displayPolicyForPrs</key>
					<integer>3</integer>
					<key>fork</key>
					<integer>0</integer>
					<key>fullName</key>
					<string>williamgoulois/main-accessibility</string>
					<key>inaccessible</key>
					<integer>0</integer>
					<key>lastScannedIssueEventId</key>
					<integer>0</integer>
					<key>manuallyAdded</key>
					<integer>0</integer>
					<key>nodeId</key>
					<string>R_kgDOIMwm2Q</string>
					<key>ownerNodeId</key>
					<string>MDQ6VXNlcjM3MjcxOTcw</string>
					<key>postSyncAction</key>
					<integer>0</integer>
					<key>updatedAt</key>
					<date>2024-05-29T10:34:30Z</date>
					<key>webUrl</key>
					<string>https://github.com/williamgoulois/main-accessibility</string>
				</dict>
				<key>R_kgDOJrrgnA</key>
				<dict>
					<key>archived</key>
					<integer>0</integer>
					<key>createdAt</key>
					<date>2023-06-05T16:09:29Z</date>
					<key>displayPolicyForIssues</key>
					<integer>3</integer>
					<key>displayPolicyForPrs</key>
					<integer>3</integer>
					<key>fork</key>
					<integer>0</integer>
					<key>fullName</key>
					<string>faberNovel/formation-front</string>
					<key>groupLabel</key>
					<string>F</string>
					<key>inaccessible</key>
					<integer>0</integer>
					<key>lastScannedIssueEventId</key>
					<integer>0</integer>
					<key>manuallyAdded</key>
					<integer>0</integer>
					<key>nodeId</key>
					<string>R_kgDOJrrgnA</string>
					<key>ownerNodeId</key>
					<string>MDEyOk9yZ2FuaXphdGlvbjE3MTA2MQ==</string>
					<key>postSyncAction</key>
					<integer>0</integer>
					<key>updatedAt</key>
					<date>2023-12-13T17:19:17Z</date>
					<key>webUrl</key>
					<string>https://github.com/faberNovel/formation-front</string>
				</dict>
				<key>R_kgDOK2_HRA</key>
				<dict>
					<key>archived</key>
					<integer>0</integer>
					<key>createdAt</key>
					<date>2023-12-07T15:49:05Z</date>
					<key>displayPolicyForIssues</key>
					<integer>3</integer>
					<key>displayPolicyForPrs</key>
					<integer>3</integer>
					<key>fork</key>
					<integer>0</integer>
					<key>fullName</key>
					<string>faberNovel/pesaurus</string>
					<key>groupLabel</key>
					<string>PES</string>
					<key>inaccessible</key>
					<integer>0</integer>
					<key>lastScannedIssueEventId</key>
					<integer>0</integer>
					<key>manuallyAdded</key>
					<integer>0</integer>
					<key>nodeId</key>
					<string>R_kgDOK2_HRA</string>
					<key>ownerNodeId</key>
					<string>MDEyOk9yZ2FuaXphdGlvbjE3MTA2MQ==</string>
					<key>postSyncAction</key>
					<integer>0</integer>
					<key>updatedAt</key>
					<date>2025-04-04T13:27:15Z</date>
					<key>webUrl</key>
					<string>https://github.com/faberNovel/pesaurus</string>
				</dict>
				<key>R_kgDOLa1qzQ</key>
				<dict>
					<key>archived</key>
					<integer>0</integer>
					<key>createdAt</key>
					<date>2024-03-03T01:32:34Z</date>
					<key>displayPolicyForIssues</key>
					<integer>3</integer>
					<key>displayPolicyForPrs</key>
					<integer>3</integer>
					<key>fork</key>
					<integer>0</integer>
					<key>fullName</key>
					<string>williamgoulois/nvim</string>
					<key>inaccessible</key>
					<integer>0</integer>
					<key>lastScannedIssueEventId</key>
					<integer>0</integer>
					<key>manuallyAdded</key>
					<integer>0</integer>
					<key>nodeId</key>
					<string>R_kgDOLa1qzQ</string>
					<key>ownerNodeId</key>
					<string>MDQ6VXNlcjM3MjcxOTcw</string>
					<key>postSyncAction</key>
					<integer>0</integer>
					<key>updatedAt</key>
					<date>2024-09-17T21:57:17Z</date>
					<key>webUrl</key>
					<string>https://github.com/williamgoulois/nvim</string>
				</dict>
			</dict>
			<key>requestsLimit</key>
			<integer>5000</integer>
			<key>requestsRemaining</key>
			<integer>5000</integer>
			<key>resetDate</key>
			<date>2025-05-16T23:57:09Z</date>
			<key>userId</key>
			<integer>0</integer>
			<key>userName</key>
			<string>williamgoulois</string>
			<key>userNodeId</key>
			<string>MDQ6VXNlcjM3MjcxOTcw</string>
			<key>webPath</key>
			<string>https://github.com</string>
		</dict>
	</dict>
	<key>DB_SNOOZE_OBJECTS</key>
	<array/>
	<key>DISPLAY_MILESTONES</key>
	<true/>
	<key>DISPLAY_REVIEW_CHANGE_REQUESTS</key>
	<true/>
	<key>DONT_ASK_BEFORE_WIPING_MERGED</key>
	<true/>
	<key>DRAFT_HANDLING_POLICY</key>
	<integer>1</integer>
	<key>GROUP_BY_REPO</key>
	<true/>
	<key>HIDE_AVATARS_KEY</key>
	<false/>
	<key>HIDE_MENUBAR_COUNTS</key>
	<false/>
	<key>HIDE_NOTIFICATION_AVATARS_KEY</key>
	<false/>
	<key>LAST_EXPORT_TIME</key>
	<date>2025-05-16T22:58:34Z</date>
	<key>LAST_EXPORT_URL</key>
	<string>file:///Users/william.goulois/.config/trailer/config.trailerSettings</string>
	<key>LAST_PREFS_TAB_SELECTED_OSX</key>
	<integer>11</integer>
	<key>LAST_RUN_VERSION_KEY</key>
	<string>Version 1.8.11 (1719)</string>
	<key>LAST_SUCCESSFUL_REFRESH</key>
	<date>2025-05-16T22:55:43Z</date>
	<key>MAKE_STATUS_ITEMS_SELECTABLE</key>
	<true/>
	<key>MARK_PRS_AS_UNREAD_ON_NEW_COMMITS</key>
	<true/>
	<key>MARK_UNMERGEABLE_ITEMS</key>
	<true/>
	<key>NEW_ISSUE_DISPLAY_POLICY_INDEX</key>
	<integer>3</integer>
	<key>NEW_PR_DISPLAY_POLICY_INDEX</key>
	<integer>3</integer>
	<key>NEW_REPO_CHECK_PERIOD</key>
	<real>2</real>
	<key>NOTIFY_ON_ALL_REVIEW_ACCEPTANCES</key>
	<false/>
	<key>NOTIFY_ON_ALL_REVIEW_CHANGE_REQUESTS</key>
	<false/>
	<key>NOTIFY_ON_ALL_REVIEW_DISMISSALS</key>
	<false/>
	<key>NOTIFY_ON_COMMENT_REACTIONS</key>
	<true/>
	<key>NOTIFY_ON_ITEM_REACTIONS</key>
	<true/>
	<key>NOTIFY_ON_REVIEW_ACCEPTANCES</key>
	<true/>
	<key>NOTIFY_ON_REVIEW_ASSIGNMENTS</key>
	<true/>
	<key>NOTIFY_ON_REVIEW_CHANGE_REQUESTS</key>
	<true/>
	<key>NOTIFY_ON_REVIEW_DISMISSALS</key>
	<true/>
	<key>NOTIFY_ON_STATUS_UPDATES</key>
	<true/>
	<key>OPEN_PR_AT_FIRST_UNREAD_COMMENT_KEY</key>
	<true/>
	<key>REFRESH_PERIOD_KEY</key>
	<real>120</real>
	<key>REQUESTED_TEAM_REVIEWS</key>
	<true/>
	<key>SHOW_COMMENTS_EVERYWHERE_KEY</key>
	<true/>
	<key>SHOW_LABELS</key>
	<true/>
	<key>SHOW_PR_LINES</key>
	<true/>
	<key>SHOW_RELATIVE_DATES</key>
	<true/>
	<key>SHOW_REPOS_IN_NAME</key>
	<true/>
	<key>SHOW_STATUSES_EVERYWHERE</key>
	<true/>
	<key>SHOW_STATUSES_GRAY</key>
	<false/>
	<key>SHOW_STATUSES_GREEN</key>
	<false/>
	<key>SHOW_STATUS_ITEMS</key>
	<true/>
	<key>SORT_METHOD_KEY</key>
	<integer>1</integer>
	<key>SORT_ORDER_KEY</key>
	<true/>
	<key>STATUS_FILTERING_METHOD_KEY</key>
	<integer>0</integer>
	<key>STATUS_FILTERING_TERMS_KEY</key>
	<array/>
	<key>STATUS_ITEM_REFRESH_BATCH</key>
	<integer>100</integer>
	<key>USE_V4_API</key>
	<true/>
</dict>
</plist>
